<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"  />
    <title>Title</title>
</head>
<body>

<div th:fragment="javascript">
    <script src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../../JS/missingBlogInput.js"></script>
    <script src="../../JS/wookmark.js"></script>
    <script src="../../JS/wookmarkIndex.js"></script>
    <script src="../../JS/logout.js"></script>

</div>

</body>
</html>