<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"  />
    <title>Title</title>
</head>
<body>

<div th:fragment="javascript">
    <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../../static/JS/missingBlogInput.js"></script>

    <script>
        var submitForm = $('#submitForm');

        var errorBox = $('#errorBox');

        var titleHeader = $('#titleIdentifier');
        var titleDiv = $('#titleDiv');
        var titleContent = $('#title');

        var descriptionHeader = $('#descriptionIdentifier');
        var descriptionDiv = $('#descriptionDiv');
        var descriptionContent = $('#textArea');


        submitForm.click(function(event){
            if(titleContent.val().length == 0){
                titleHeader.css('color','orange');
                titleDiv.addClass('has-warning');
                errorBox.removeClass('hidden');
                event.preventDefault();
            }
        });

        submitForm.click(function(event){
            if(descriptionContent.val().length == 0){
                descriptionHeader.css('color','orange');
                descriptionDiv.addClass('has-warning');
                errorBox.removeClass('hidden');
                event.preventDefault();
            }
        });

        titleContent.on('keyup',function(e){
            titleDiv.removeClass('has-warning');
            titleHeader.css('color','black');
            titleEmpty = false;
            errorBox.addClass('hidden')
        });

        descriptionContent.on('keyup',function(e){
            descriptionDiv.removeClass('has-warning');
            descriptionHeader.css('color','black');
            descriptionEmpty = false;
            errorBox.addClass('hidden')
        });


    </script>

</div>

</body>
</html>