.grid-item{
    float:left;
    width: 80px;
    height: 60px;
}

.grid-sizer{
    width:100%;
}
.grid-item{
    width:30%;
    height:50%;
    overflow: scroll;
}

#grid a{
    color: black;
    margin-top: 5%;
    opacity: 0.7;
}
#grid a:hover{
    opacity: 1;
}


#postNavigation{
    display: inline-block;
}

#wrapper{
    text-align: center;
}
i{
    color: white;
}
